* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}


body {

    margin: 0;
    background: #f2f5f9;
    color: #111;

}


.app {

    max-width: 430px;
    margin: auto;
    padding: 15px;
    padding-bottom: 90px;

}


header {

    text-align: center;
    margin-bottom: 15px;

}


h1 {

    color: #0066cc;
    margin-bottom: 5px;

}



.navigation {

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 75px;

    background: white;

    display: flex;
    justify-content: space-around;

    border-top: 1px solid #ddd;

}



.navigation button {

    border: none;
    background: none;

    font-size: 22px;

    display: flex;
    flex-direction: column;
    align-items: center;

}



.navigation span {

    font-size: 12px;

}



.seite {

    display: none;

}



.seite.aktiv {

    display: block;

}



.karte {

    background: white;

    border-radius: 20px;

    padding: 20px;

    margin-bottom: 15px;

    box-shadow:

    0 4px 12px rgba(0,0,0,0.08);

}



h2 {

    margin-top: 0;

    color: #0066cc;

}



.zeile {

    display: flex;

    justify-content: space-between;

    padding: 12px 0;

    border-bottom: 1px solid #eee;

}



button {

    width: 100%;

    border: none;

    border-radius: 15px;

    padding: 16px;

    margin-top: 10px;

    font-size: 17px;

    font-weight: bold;

}



.start {

    background: #34c759;

    color: white;

}



.stop {

    background: #ff3b30;

    color: white;

}



input,
select {

    width: 100%;

    padding: 14px;

    margin-top: 5px;

    margin-bottom: 15px;

    border-radius: 12px;

    border: 1px solid #ccc;

    font-size: 16px;

}



label {

    font-weight: bold;

}




@media (prefers-color-scheme: dark) {


body {

    background: #000;

    color: white;

}



.karte {

    background: #1c1c1e;

}



.navigation {

    background: #1c1c1e;

}


input,
select {

    background: #2c2c2e;

    color: white;

}


}
